<footer>
 <section class="layout">
   <% include ../content/socialmedia.ejs %>
   <br /><p>Made with <i class="fa fa-heart-o"></i> from OpenMoz Members</p><!--copyright-->
   <p><a href="https://duckduckgo.com/" target="_blank" class="duckgo"><img class="duck" src="/images/misc/DDG_Dax-01.svg"></a></p>
 </section><!-- layout -->
</footer><!-- footer -->