<footer>
 <section class="layout">
   <% include ../content/socialmedia.ejs %>
   <br /><p>Made with <i class="fa fa-heart-o"></i> from OpenMoz Members</p><!--copyright-->
 </section><!-- layout -->
</footer><!-- footer -->