<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
          <img src="/images/misc/openmoz.png" alt="OpenMoz Logo">
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/blogs"><i class="fa fa-file-text"></i> Blogs</a></li>
        <li><a href="/events"><i class="fa fa-bullhorn"></i> Events</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>