<article id="whoarewe">
  <h1>Who are we?</h1>
    <p>The OpenMoz club organize various meetups, workshops and competitions throughout the year for students interested in participating in the technology, opensource and mozilla.</p>
    <p></p>
</article><!-- article -->