<article id="whoshouldcome">
  <h1>Who should join?</h1>
  <ul>
    <li>Anybody interested in technology and the open source</li>
    <li>Developers, Designers, photographers and graphic artists</li>
    <li>Those interested in meeting and making a connection with others in the Open Source community.</li>
  </ul>
</article><!-- article -->